#All the IPython Notebooks in this lecture series are available at
* https://github.com/yanchunwu/Python-Lectures

Further readings
* https://www.w3schools.com/python/python_strings.asp

You can use an online interactive python intepreter by click on the following [link](https://www.pythonanywhere.com/try-ipython/).

# <div align="center">Strings and **Print** Statement </div>

## Python Strings

### String Literals
String literals in python are surrounded by either single quotation marks, or double quotation marks.
```
'hello' is the same as "hello".
```
You can display a string literal with the print() function:

In [25]:
print("Hello")
print('Hello')

Hello
Hello

### Assign String to a Variable
Assigning a string to a variable is done with the variable name followed by an equal sign and the string:

In [21]:
a = "Hello"
print(a)
b = 'Hello'
print(a is b)
print(a==b)

Hello
True
True

In [27]:
name = "Anthony W"
employee_id = "FSB_Putin_0001"
print(employee_id)

FSB_Putin_0001

You can use single quote and double quote together

In [28]:
intro = "I'm Anthony Awesome"
print(intro)

I'm Anthony Awesome

### Multiline Strings
You can assign a multiline string to a variable by using three quotes:

You can use three double quotes:

In [30]:
a = """Lorem ipsum dolor sit amet, 
consectetur adipiscing elit, sed
do eiusmod tempor incididunt ut 
labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit, sed
do eiusmod tempor incididunt ut
labore et dolore magna aliqua.

Or three single quotes:

In [31]:
b = '''This is line 1
This is line 2
'''
print(b)

This is line 1
This is line 2

### Strings are Arrays
Like many other popular programming languages, strings in Python are arrays of bytes representing unicode characters.

However, Python does not have a character data type, a single character is simply a string with a length of 1.

Square brackets can be used to access elements of the string.

**Example:**
Get the character at position 1 (remember that the first character has the position 0):

In [32]:
a = "Hello, World!"
print(a[0])
print(a[1])

H
e

### Slicing
You can return a range of characters by using the slice syntax.

Specify the start index and the end index, separated by a colon, to return a part of the string.

**Example:**
Get the characters from position 2 to position 5 (not included):

In [35]:
b = "Hello, World!"
print(b[0:5])
print(b[2:5])
print(b[7:12])

Hello
llo
World

In [38]:
name = "Donald Trump"
print(name[0:6])
print(name[7:12])

Donald
Trump

In [45]:
digits = '0123456789'
print(digits[0:5])
print(digits[5:10])
print(digits[0:10:2])
print(digits[1:10:2])

01234
56789
02468
13579

### Negative Indexing
Use negative indexes to start the slice from the end of the string:

**Example:**
Get the characters from position 5 to position 1, starting the count from the end of the string:

In [48]:
print(digits)
print(digits[-1])
print(digits[-3])
b = "Hello, World!"
print(b[-5:-2])
print(b[-2])

0123456789
9
7
orl
d

### String Methods
Python has a set of built-in methods that you can use on strings.

The `strip()` method removes any whitespace from the beginning or the end:

In [51]:
email = "   MYGrEAtnAme@example.com  "
email = email.strip()
print(email)
print(email.lower())
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

MYGrEAtnAme@example.com
mygreatname@example.com
Hello, World!

In [54]:
email = "   Yanchun.Wu@gmail.com   "
print(email)
email = email.strip()
print(email)
email = email.lower()
print(email)
email = email.upper()
print(email)

   Yanchun.Wu@gmail.com
Yanchun.Wu@gmail.com
yanchun.wu@gmail.com
YANCHUN.WU@GMAIL.COM

The `lower()` method returns the string in lower case:

In [ ]:
a = "Hello, World!"
print(a.lower())

The `upper()` method returns the string in upper case:

In [ ]:
a = "Hello, World!"
print(a.upper())

The `replace()` method replaces a string with another string:

In [55]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [56]:
name = "Lei Zhang"
print(name.replace("Zhang", "Wu"))

Lei Wu

The `split()` method splits the string into substrings if it finds instances of the separator:

In [ ]:
a = "Hello, World!"
# split returns a list
print(a.split(",")) # returns ['Hello', ' World!']

In [72]:
address = "2 Victoria Cir,   Sharon,   MA,   02067"
print(address.split(","))
address_items = address.split(",")
print(address_items)
# city sharon has space, remove it
# address_items[1] = address_items[1].strip()
# address_items[2] = address_items[2].strip()
# address_items[3] = address_items[3].strip()
print(type(address_items[1:4]))
print(type(address))

for item in address_items[1:4]:
    print(item.split())
# print(address_items)

['2 Victoria Cir', '   Sharon', '   MA', '   02067']
['2 Victoria Cir', '   Sharon', '   MA', '   02067']
<class 'list'>
<class 'str'>
['Sharon']
['MA']
['02067']

**Further Readings**
```
# Some examples to clean up US address can be found here
# https://github.com/datamade/usaddress
# after you run installation 
# pip install usaddress

import usaddress
addr='123 Main St. Suite 100 Chicago, IL'

# The parse method will split your address string into components,
# and label each component.
# expected output:
# [
#  (u'123', 'AddressNumber'),
#  (u'Main', 'StreetName'),
#  (u'St.', 'StreetNamePostType'),
#  (u'Suite', 'OccupancyType'),
#  (u'100', 'OccupancyIdentifier'),
#  (u'Chicago,', 'PlaceName'),
#  (u'IL', 'StateName')
# ]
usaddress.parse(addr)
```

### Check String

To check if a certain phrase or character is present in a string, we can use the keywords `in` or `not in`.

Check if the phrase "ain" is present in the following text:

In [ ]:
txt = "The rain in Spain stays mainly in the plain"
x = "ain" in txt
print(x)

Check if the phrase "ain" is NOT present in the following text:

In [ ]:
txt = "The rain in Spain stays mainly in the plain"
x = "ain" not in txt
print(x)

### String Concatenation

To concatenate, or combine, two strings you can use the + operator.

Merge variable a with variable b into variable c:

In [ ]:
a = "Hello"
b = "World"
c = a + b
print(c)

To add a space between them, add a " ":

In [ ]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

### String Format

## Print Statement

As we learned in the Python Variables chapter, we cannot combine strings and numbers like this:

In [ ]:
age = 36
txt = "My name is John, I am " + age
print(txt)

But we can combine strings and numbers by using the format() method!

The format() method takes the passed arguments, formats them, and places them in the string where the placeholders {} are:

Use the format() method to insert numbers into strings:

In [ ]:
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

The format() method takes unlimited number of arguments, and are placed into the respective placeholders:

In [ ]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

You can use index numbers {0} to be sure the arguments are placed in the correct placeholders:

In [ ]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

The **print** statement can be used in the following different ways :

    - print("Hello World")
    - print("Hello", <Variable Containing the String>)
    - print("Hello" + <Variable Containing the String>)
    - print("Hello %s" % <variable containing the string>)
    - print("Hello {}".format(string variable))
    - print(f"Hello {string variable}")

In [1]:
print("Hello World")

Hello World

In Python, single, double and triple quotes are used to denote a string.
Most use single quotes when declaring a single character. 
Double quotes when declaring a line and triple quotes when declaring a paragraph/multiple lines.

In [2]:
print('Hey')

Hey

In [5]:
print("""My name is Anthony Wu and

I love Python.""")

My name is Anthony Wu and

I love Python.

Strings can be assigned to variable say _string1_ and _string2_ which can called when using the print statement.

In [10]:
string1 = 'World'
print('Hello', string1)

string2 = '!'
print('Hello', string1, string2)

Hello World
Hello World !

String concatenation is the "addition" of two strings. Observe that while concatenating there will be no space between the strings.

In [11]:
print('Hello' + string1 + string2)

HelloWorld!

**%s** is used to refer to a variable which contains a string.

In [6]:
print("Hello %s" % string1)

Hello World

Similarly, when using other data types

    - %s -> string
    - %d -> Integer
    - %f -> Float
    - %o -> Octal
    - %x -> Hexadecimal
    - %e -> exponential
    
This can be used for conversions inside the print statement itself.

In [7]:
print("Actual Number = %d" %18)
print("Float of the number = %f" %18)
print("Octal equivalent of the number = %o" %18)
print("Hexadecimal equivalent of the number = %x" %18)
print("Exponential equivalent of the number = %e" %18)

Actual Number = 18
Float of the number = 18.000000
Octal equivalent of the number = 22
Hexadecimal equivalent of the number = 12
Exponential equivalent of the number = 1.800000e+01

When referring to multiple variables parenthesis is used.

In [8]:
print("Hello %s %s" %(string1,string2))

Hello World !

##Other Examples

The following are other different ways the print statement can be put to use.

In [9]:
print("I want %%d to be printed %s" %'here')

I want %d to be printed here

In [10]:
print('_A'*10)

_A_A_A_A_A_A_A_A_A_A

In [11]:
print("Jan\nFeb\nMar\nApr\nMay\nJun\nJul\nAug")

Jan
Feb
Mar
Apr
May
Jun
Jul
Aug

In [12]:
print("I want \\n to be printed.")

I want \n to be printed.

In [13]:
print """
Routine:
\t- Eat
\t- Sleep\n\t- Repeat
"""

Routine:
	- Eat
	- Sleep
	- Repeat

#PrecisionWidth and FieldWidth

Fieldwidth is the width of the entire number and precision is the width towards the right. One can alter these widths based on the requirements.

The default Precision Width is set to 6.

In [12]:
"%f" % 3.121312312312

'3.121312'

Notice upto 6 decimal points are returned. To specify the number of decimal points, '%(fieldwidth).(precisionwidth)f' is used.

In [14]:
"%.4f" % 3.121312312312

'3.1213'

If the field width is set more than the necessary than the data right aligns itself to adjust to the specified values.

In [15]:
"%9.5f" % 3.121312312312

'  3.12131'

Zero padding is done by adding a 0 at the start of fieldwidth.

In [16]:
"%020.5f" % 3.121312312312

'00000000000003.12131'

For proper alignment, a space can be left blank in the field width so that when a negative number is used, proper alignment is maintained.

In [17]:
print("% 9f" % 3.121312312312)
print("% 9f" % -3.121312312312)

 3.121312
-3.121312

'+' sign can be returned at the beginning of a positive number by adding a + sign at the beginning of the field width.

In [19]:
print("%+9f" % 3.121312312312)
print("% 9f" % -3.121312312312)

+3.121312
-3.121312

As mentioned above, the data right aligns itself when the field width mentioned is larger than the actualy field width. But left alignment can be done by specifying a negative symbol in the field width.

In [18]:
"%-9.3f" % 3.121312312312

'3.121    '